:root {
  /* Tamaños de letra */
  --small: 12px;
  --mid: 16px;

  /* Colores de fondo */
  --bgpri: #5a00ec;
  --bgpri2: #380053;
  --bgsec: #1738f6;

  /* Colores de texto */
  --text1: #ffffff;
  --text2: #150028;
  --text3: #fff5d2;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: var(--mid);
  color: var(--text1);
  background-image: url("../img/fondo.webp");
  background-color: var(--bgpri2);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
  grid-template-columns: 0.2fr 3fr;
  grid-template-rows: 5rem 1fr auto;
}

header {
  width: 100%;
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: var(--bgsec);
  z-index: 1000;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.7);
}

header img {
  height: 6rem;
  object-fit: contain;
  animation: rotar5 5s ease-in-out infinite;
  cursor: pointer;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  margin: 1rem 0;
  padding: 0 0.5rem;
  background-color: var(--bgpri);
  color: var(--text1);
  text-align: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: 0.5s ease-in-out;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.7);
}

aside img {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
  height: 4rem;
  object-fit: contain;
  transform: rotate(-2deg);
  animation: rotar5 10s ease-in-out infinite;
  cursor: pointer;
}

@keyframes rotar5 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

main {
  padding: 1rem 0;
  grid-area: main;
  margin: 1rem;
}

h1 {
  font-size: clamp(1rem, 2vw, 2rem);
  color: var(--text3);
}

h2 {
  font-size: clamp(0.9rem, 0.7vw, 1rem);
  color: var(--text1);
}

p {
  font-size: var(--small);
  color: var(--text2);
}

.filtrador {
  padding: 0.4rem 0.5rem;
  width: 6rem;
  color: var(--text2);
  border: none;
  border-radius: 8px;
  display: block;
  box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.7);
}

.dificultad {
  text-align: end;
}

.todo {
  color: var(--text1);
  background-color: #ff6601;
}
.easy,
.dificultad.facil {
  color: var(--text1);
  background-color: #1e9e43;
}
.mid,
.dificultad.medio {
  background-color: #dca744;
  color: var(--text1);
}
.hard,
.dificultad.dificil {
  background-color: #ff4141;
  color: var(--text1);
}

.dificultad.facil,
.dificultad.medio,
.dificultad.dificil {
  padding: 3px 6px;
  border-radius: 5px;
  font-weight: bold;
}

#listaProducto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: end; /* Centra el contenido horizontalmente */
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    transition: transform 1s ease;
    max-width: 100%; /* Asegura que la tarjeta no exceda el ancho de la columna */
    min-height: 300px; /* Ajusta según el contenido */
    border: 1px solid #ccccccaf;
    background-color: #fff7cd89;
    padding: 1rem;
  }
  
  

.card:hover {
  transform: scale(1.05);
}

.pic {
  width: 100%;
  height: 220px;
  max-height: 10rem;
  object-fit: cover;
  margin-top: 1rem;
}

.pic:hover {
  transition: transform 1s ease;
}

.name {
  display: block;
  font-weight: bold;
}

.text {
  color: var(--text2);
  height: 6rem;
  margin-bottom: 1rem;
}
.price {
  color: var(--text1);
  margin-bottom: 1rem;
}


.botoncito {
  padding: 0.5rem 1rem;
  background-color: #7900ca;
  color: var(--text3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botoncito:hover {
  background-color: #c36aff;
}

footer {
  grid-area: footer;
  background-color: #1e9e43;
  text-align: center;
  width: 100%;
}

footer p {
  color: var(--text3);
  font-weight: 400;
  font-size: var(--mid);
}

@media (max-width: 480px) {
  .gridContainer {
    grid-template-areas:
      "aside"
      "main"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto; /* 1fr en main ocupa el espacio disponible */
    min-height: 100vh; /* Mantiene el contenedor a toda la pantalla */
  }

  header {
    display: none; /* Oculta el header en la versión responsiva */
  }

  aside {
    top: 0;
    height: min-content;
  }

  aside img {
    height: 7rem;
  }

  .filtrador {
    margin: 0.5rem 0;
  }
}
